@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply md:px-8 px-1 py-8;
  background-image: url("../images/supermercado.jpg");
  background-size: cover;
  height: 98vh;
}

.app {
  @apply md:px-5 px-2  py-8;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 10px;
}

.main-container {
  height: 98vh;
}

h1 {
  @apply text-center text-3xl font-bold mb-5;
}

.content {
  @apply w-6/12 my-1  font-semibold;
}

.todo {
  @apply w-full my-4 border-b-2 flex  items-center justify-center md:gap-8 sm:gap-3 gap-0;
}

.name {
}

.category {
  @apply text-xs;
}

input {
  @apply border mb-2;
  box-sizing: border-box;
}

.isCompleted {
  @apply border w-8;
}

form {
}

h2 {
  @apply text-3xl;
}

.search {
  @apply text-center pt-3;
}

.filter {
  @apply py-3 flex flex-col items-center justify-center border-b-4 pb-8;
}

.filter_options {
  @apply flex sm:flex-row flex-col items-center w-full justify-evenly;
}
